%h3 Hello! Welcome to Building blockz administration
%table{:style => "width:100%"}
  %tr
    %th Urgent Help requests
    %th Latest News
    %th Work orders status
  %tr
    %th
      Urgent Help requests
      - @help_requests.each do |help|
        = help.title
        = help.message
    %th
      Latest News
      - @news.each do |news|
        = news.title
        = news.description
    %th Pending
