/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

 table, th, td {
    vertical-align: text-top;
    border: 0px;
    padding: 0;
}

th.help {
    color: #444;
    width: 18%;
    vertical-align: top;
    background: #ED9993;
}

th.news {
    background: #222;
    opacity: 0.7;
    color: #222;
    width: 40%;
    background-size: cover;
    vertical-align: top;
}

.helph {
    background-color: #fff;
    opacity: 0.7;
    padding: 1px;
    margin: 0 4px 0px;
}

.newsh {
    color: #fff;
    background-color: #999;
    padding: 1px;
    margin: 0 2px 0px;
}

.workh {
    background-color: #fff;
    opacity: 0.7;
    padding: 1px;
    margin: 0 2px 0px;
}

th.work {
    color: #777;
    width: 22%;
    vertical-align: top;
    background-color: #99;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.new {
    color: #111;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 3px 2px 1px;
    padding-top: 6px;
    background: -webkit-linear-gradient(45deg, #FFF, #DADADA);
    opacity: 0.9;
    margin-bottom: 8px;
}

.helpr {
  	background: #FEFEFE;
  	border: 2px solid #FAFAFA;
  	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  	margin: 2px 4px 4px;
    padding-top: 4px;
  	background: -webkit-linear-gradient(45deg, #FFF, #DADADA);
  	opacity: 0.9;
    text-align: top;
    color: #666;
}

.main {
    color: #999;
    background-color: #fff;
    font-size: 14px;
}

.main_news {
    color: #111;
    background-color: #fff;
    font-size: 14px;
    padding: 4px;
}

.new h3 {
    color: #fff;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #5BAEB1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #9BC9D5;
}

div {
    background-color: #f2f2f2;
}

.head {
   width: 100%;
   background-color: #ccc;
}

.w_link {
     color: #C70039;
     text-decoration: none;
     font-size: 12px;
}

a {
    color: #fff;
    text-decoration: none;
}

.body {
    background-color: #ccc;
}

.footer {
    background-color: #333;
    color: white;
    padding: 2px;
    padding-right: 5px;
    text-align: right;
}

.stat_green {
    background-color: #C0FE92;
    color: #6AB136;
}

.stat_yellow {
    background-color: #F8F38D;
    color: #CFBA1A;
}

.stat_red {
    background-color: #FC8282;
    color: #C33333;
}

.stat_blue {
    background-color: #96ECFE;
    color: #3E99AC;
}

.stat_grey {
    background-color: #6C6C6C;
    color: #D5D5D5;
}
